body {
    width: 745px;
	margin: auto;
	padding: 20px;
    font-family: 'Unica One';
    text-align: center;
    align-items: center;
    font-size: 20pt;
}

div.centered
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: center;
    padding-bottom: 20px;
}

div.centered td
{
    padding-left: 10px;
    padding-right: 10px;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

p {
    text-align: justify;
}

footer {
  font-size: 10pt;
  text-align: left;
}