body {
    width: 745px;
    margin: auto;
    padding: 20px;
    font-family: 'Unica One';
    text-align: center;
    font-size: 20pt;
}

nav {
    padding-bottom: 1cm;
}  

a {
    color: black;
}

a:hover {
    color: gray;
}

footer {
    font-size: 10pt;
    text-align: left;
}