body {
  margin: 0px;
  font-size: 20pt;
  font-family: 'Unica One';
}

.index_table {
  padding: 1cm;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  color: black;
}

.index_table div {
  flex: 1;
}

.index_table a {
  font-size: 30pt;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 0.5cm;
}

.index_table a:hover {
  font-size: 30pt;
  display: flex;
  flex-direction: column;
  color: gray;
}

.index_table img {
  border-radius: 50%;
  border: black 10px solid;
}

